.wrapper {
	display: block;
	width: 640px;
	margin: 0 auto;
}

h1 {
	color: blue;
	font-family: arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	width: 66.66%;
}
p {
	color: green;
	font-family: tahoma;
	float: left;

}

button {
	padding: 11px;
    margin: 10px;
    background-color: black;
    color: yellow;
    border: 0;
    font-size: 13px;
    float: left;
   
}



button:hover {
    background-color: gray;
    color: yellow;
}

h2  {
	font-family: arial, sans-serif;
	float: right;
	width: 33.33%;
	font-size: 15px;
	color: blue;
	padding: 15px 0px 0px 0px;
}